In [2]:
import pandas as pd

In [11]:
dataFrame = pd.read_csv("nba_games.csv", index_col=0)

In [12]:
dataFrame

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240,240,39,81,0.481,6,20,0.300,14,18,...,22.8,29.0,178,111,DAL,95,1,2016,09/12/2015,True
1,240,240,36,100,0.360,7,31,0.226,16,19,...,50.0,32.6,152,111,ATL,98,0,2016,09/12/2015,False
2,240,240,37,85,0.435,8,19,0.421,17,23,...,20.0,30.9,148,116,SAS,107,1,2018,18/10/2017,False
3,240,240,41,89,0.461,8,21,0.381,17,19,...,28.6,30.9,138,118,MIN,99,0,2018,18/10/2017,True
4,240,240,27,86,0.314,6,26,0.231,15,20,...,16.8,30.9,157,90,MEM,92,1,2021,30/04/2021,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,240,35,81,0.432,11,26,0.423,27,36,...,34.2,33.7,160,118,OKC,92,0,2019,19/10/2018,True
17768,240,240,37,74,0.500,13,25,0.520,26,37,...,25.0,30.0,139,129,ORL,108,1,2017,14/12/2016,True
17769,240,240,42,89,0.472,14,33,0.424,10,20,...,25.6,29.9,175,126,LAC,113,0,2017,14/12/2016,False
17770,240,240,41,85,0.482,9,26,0.346,26,30,...,27.7,27.1,150,126,MIA,106,1,2020,19/09/2020,True
17771,240,240,33,85,0.388,12,44,0.273,28,34,...,51.5,36.2,141,114,BOS,117,0,2020,19/09/2020,False